# Node modules di root (jika ada)
node_modules/

# Node modules di server (backend)
server/node_modules/

# File environment
.env

# Folder public/chapter di server, ignore semua kecuali file .gitignore di dalamnya
server/public/chapter/*
!server/public/chapter/.gitignore

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Direktori build/output (jika ada)
dist/
build/

# MacOS files
.DS_Store

# VSCode folder
.vscode/
